#circleMenu {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#circleMenu #circleBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(3, 3, 3, 0.8);
}

#circleMenu .centeredCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(24, 24, 24);
    box-shadow: 3px 3px 8px rgba(3, 3, 3, 0.5);
    cursor: pointer;
}

#circleMenu .centeredCircle .descriptionText {
    padding: 0 8px;
    top: 50%;
    left: 50%;
    color: rgb(196, 184, 184);
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 600;
}

#circleMenu ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 3px 5px 15px rgba(3, 3, 3, 0.5);
    cursor: pointer;
}

#circleMenu ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
    background-color: transparent;
}

#circleMenu ul li:hover {
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 3px 5px 5px rgba(3, 3, 3, 0.5)
}

#circleMenu ul li .contents {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 19px;
    bottom: 5px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#circleMenu ul li:nth-child(0) {
    transform: rotate(-45deg) skew(45deg);
}

#circleMenu ul li:nth-child(0) .contents {
    transform: skew(-45deg) rotate(45deg);
}

#circleMenu ul li:nth-child(1) {
    transform: rotate(0deg) skew(45deg);
}

#circleMenu ul li:nth-child(1) .contents {
    transform: skew(-45deg) rotate(0deg);
}

#circleMenu ul li:nth-child(2) {
    transform: rotate(45deg) skew(45deg);
}

#circleMenu ul li:nth-child(2) .contents {
    transform: skew(-45deg) rotate(-45deg);
}

#circleMenu ul li:nth-child(3) {
    transform: rotate(90deg) skew(45deg);
}

#circleMenu ul li:nth-child(3) .contents {
    transform: skew(-45deg) rotate(-90deg);
}

#circleMenu ul li:nth-child(4) {
    transform: rotate(135deg) skew(45deg);
}

#circleMenu ul li:nth-child(4) .contents {
    transform: skew(-45deg) rotate(-135deg);
}

#circleMenu ul li:nth-child(5) {
    transform: rotate(180deg) skew(45deg);
}

#circleMenu ul li:nth-child(5) .contents {
    transform: skew(-45deg) rotate(-180deg);
}

#circleMenu ul li:nth-child(6) {
    transform: rotate(225deg) skew(45deg);
}

#circleMenu ul li:nth-child(6) .contents {
    transform: skew(-45deg) rotate(-225deg);
}

#circleMenu ul li:nth-child(7) {
    transform: rotate(270deg) skew(45deg);
}

#circleMenu ul li:nth-child(7) .contents {
    transform: skew(-45deg) rotate(-270deg);
}

#circleMenu ul li:nth-child(8) {
    transform: rotate(315deg) skew(45deg);
}

#circleMenu ul li:nth-child(8) .contents {
    transform: skew(-45deg) rotate(-315deg);
}

#circleMenu .back {
    background-image: url('../images/circleIcons/back.png');
}

#circleMenu .popular {
    background-image: url('../images/circleIcons/popular.png');
}

#circleMenu .favourite {
    background-image: url('../images/circleIcons/favourite.png');
}

#circleMenu .misc {
    background-image: url('../images/circleIcons/misc.png');
}

#circleMenu .dancingAnims {
    background-image: url('../images/circleIcons/dancingAnims.png');
}

#circleMenu .fastDance {
    background-image: url('../images/circleIcons/fastDance.png');
}

#circleMenu .slowDance {
    background-image: url('../images/circleIcons/slowDance.png');
}

#circleMenu .someFastDance {
    background-image: url('../images/circleIcons/someFastDance.png');
}

#circleMenu .usefulAnims {
    background-image: url('../images/circleIcons/usefulAnims.png');
}

#circleMenu .box {
    background-image: url('../images/circleIcons/box.png');
}

#circleMenu .toolbox {
    background-image: url('../images/circleIcons/toolbox.png');
}

#circleMenu .suitcase {
    background-image: url('../images/circleIcons/suitcase.png');
}

#circleMenu .carMechanic {
    background-image: url('../images/circleIcons/carMechanic.png');
}