*:focus {
    outline: none !important
}

@font-face {
    font-family: 'Roboto';
    src: url('../packages/fonts/Roboto-Regular.ttf');
}

body {
    font-family: "Roboto" !important;
    background-color: transparent !important;
}

[ui-pnotify].ui-pnotify.own-style .ui-pnotify-container {
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    z-index: 1000;
}