*:focus {
    outline: none !important
}

@font-face {
    font-family: 'Roboto';
    src: url('../packages/fonts/Roboto-Regular.ttf');
}

body {
    font-family: "Roboto";
    background-color: transparent !important;
    padding: 0;
    margin: 0;
}