*:focus {
    outline: none !important
}

@font-face {
    font-family: 'Roboto';
    src: url('../packages/fonts/Roboto-Regular.ttf');
}

html,
body {
    font-family: "Roboto" !important;
    background-color: transparent !important;
}