#charSelect {
    display: grid;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.418);
    grid-template-rows: 25% auto;
    grid-template-columns: auto;
}

.char-select-title {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.char-select-title h1 {
    color: #fff;
    font-size: 3em;
}

.char-select-body {
    grid-column: 1;
    grid-row: 2;
    /* height: 100%; */
    overflow-y: auto;
}

.char-select-body-container {
    margin: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-row-gap: 2vh;
}

#charSelect .character-card {
    width: 30vh;
    height: 32vh;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.384), 0 6px 12px rgba(0, 0, 0, 0.486);
    transition: all 0.3s;
}

#charSelect .character-card:hover {
    width: 30vh;
    height: 32vh;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.479), 0 12px 18px rgba(0, 0, 0, 0.644);
    transform: perspective(350px) rotateY(10deg);
}

.card {
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card .card-top {
    flex-basis: 155px;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 0.863);
    background-position: center;
    background-size: cover;
}

.card .card-profile {
    flex-basis: 35px;
    flex-shrink: 1;
}

.card .card-profile .profile-image {
    overflow: hidden;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(25% - 75px);
    border: 4px solid white;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.card .card-info {
    flex-basis: 56, 66665%;
    flex-grow: 1;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card .card-info .info-title {
    padding-bottom: 15px;
}

.card .card-info .info-title h3 {
    font-weight: 400;
}

.card .card-info .info-follow {
    display: flex;
    padding: 8px 0;
    font-size: 1em;
}

.card .card-info .info-follow>div {
    flex-grow: 1;
    flex-basis: 1px;
    min-height: 20px;
    max-height: 80px;
    /* max-height: 30px; */
}

/* .card.seamus .card-top {
    background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=b0aa3fbba9c018e93499effa49dd8e83);
}

.card.seamus .profile-image {
    background-image: url(https://images.unsplash.com/photo-1507120878965-54b2d3939100?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=57f3676a7820564424855d5e5c6b09e7);
} */

.card.new-char .card-top {
    background: rgba(0, 0, 0, 0.877);
}

.card.new-char .profile-image {
    background-image: url('../images/strefa-logo.png');
}