<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="characterSelect.css">
    <link rel="stylesheet" href="../css/error.css">
    <script src="../packages/js/vue.js"></script>
    <script src="../packages/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div id="login" v-if="!loggedIn">
        <!-- Errow window -->
        <div class="error-frame" v-show="showErrorWindow">
            <div class="center">
                <div class="notification" v-bind:class="{open: showErrorWindow}">
                    <div class="notification-content">
                        <h3 class="notification-title">{{ errorMessage }}</h3>
                        <p class="notification-text">
                        </p>
                    </div>
                    <button class="notification-button" @click="hideErrorWindow()">
                        Okej
                    </button>
                </div>
            </div>
        </div>

        <div class="login-box" v-if="activeMenu == 'login'">
            <h1 class="login-header-text">Zaloguj się</h1>
            <div class="group">
                <input class="inputMaterial" type="text" v-model="userName" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nazwa użytkownika</label>
            </div>
            <div class="group">
                <input class="inputMaterial" type="password" v-model="userPassword" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Hasło</label>
            </div>
            <button @click="login()" v-bind:class="{disabled: loginDisabled}">Zaloguj się</button>
            <p class="change-window" @click="switchToRegister()">Rejestracja</p>
        </div>

        <div class="login-box" v-if="activeMenu == 'register'">
            <h1 class="login-header-text">Rejestracja</h1>
            <div class="group">
                <input class="inputMaterial" type="text" v-model="userNameRegister" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nazwa użytkownika</label>
            </div>
            <div class="group">
                <input class="inputMaterial" type="password" v-model="userPasswordRegister" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Hasło</label>
            </div>
            <div class="group">
                <input class="inputMaterial" type="password" v-model="userPasswordRegisterRetry" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Powtórz hasło</label>
            </div>

            <button @click="register()" v-bind:class="{disabled: registerDisabled}">Zarejestuj się</button>
            <p class="change-window" @click="switchToLogin()">Logowanie</p>
        </div>
    </div>

    <div id="charSelect" v-show="showCharacterSelect">
        <div class="char-select-title">
            <h1>Witaj na serwerze! Wybierz swoją postać</h1>
        </div>
        <div class="char-select-body">
            <div class="char-select-body-container">
                <div class="character-card card new-char" @click="createCharacter()">
                    <div class="card-top"></div>
                    <div class="card-profile">
                        <div class="profile-image"></div>
                    </div>
                    <div class="card-info">
                        <div class="info-title">
                            <h2>Stwórz nową postać</h2>
                            <h3>StrefaRP.pl</h3>
                        </div>
                    </div>
                </div>

                <div class="character-card card" v-for="character in filteredCharacterList"
                    @click="chooseCharacter(character.Id)">
                    <div class="card-top" :style="{ backgroundImage: 'url(' + character.BackgroundImage + ')' }"></div>
                    <div class="card-profile">
                        <div class="profile-image" :style="{ backgroundImage: 'url(' + character.ProfileImage + ')' }">
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="info-title">
                            <h2>{{ character.Name }} {{ character.LastName }}</h2>
                            <h3>Pieniądze: {{ character.Id }}$</h3>
                        </div>
                        <div class="info-follow">
                            <div>
                                <span>{{ character.TimePlayed }}</span><br />
                                <span>Czas online</span>
                            </div>
                            <div>
                                <span>{{ character.Id }}</span><br />
                                <span>Id</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="login.js"></script>
<script src="characterSelect.js"></script>

</html>